<div class="my-5">
    <p class="lead">
        You have
        <strong class="text-danger fw-bold">{{(cartItems$ | async)?.length}}</strong>
        item in your cart
    </p>

    <div *ngIf="(cartItems$ | async)?.length">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-5" *ngFor="let item of cartItems$ | async">
                    <div class="row">
                        <div class="col-4">
                            <div class="cart-img">
                                <img [src]="item.product.url" [alt]="item.product.name" class="img-thumbnail">
                            </div>
                        </div>
                        <div class="col-8">
                            <h4>{{item.product.name}}</h4>

                            <strong class="mt-3">
                                ${{(item.product.price * item.quantity)}}
                            </strong>

                            <div class="mt-3">
                                <input class="form-control w-50" type="number" [(ngModel)]="item.quantity"
                                    (ngModelChange)="updateCart()" min="1">
                            </div>

                            <button class="btn btn-danger mt-3"
                                (click)="deleteProduct(item.product.id,item.product.name)">Delete</button>
                        </div>
                        <!-- /.col-6 -->
                    </div>
                    <!-- /.row -->

                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <app-input styleClass="mb-3" inputType="text" label="Name" placeholder="(Minimum 3 characters)"
                        [control]="$any(fullName)">
                    </app-input>
                    <app-input styleClass="mb-3" inputType="text" label="Address" placeholder="(Minimum 6 characters)"
                        [control]="$any(address)">
                    </app-input>
                    <app-input styleClass="mb-3" inputType="text" label="Credit Card Number"
                        placeholder="1234-5678-9123-4567" [control]="$any(creditNumber)">
                    </app-input>
                    <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
                </form>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

        <p class="lead">Total : <strong class="fw-bold">${{calcCartTotal()}}</strong></p>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal confirmation-modal" *ngIf="confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-success">Success!</h4>
                <button type="button" class="btn-close" (click)="confirmation = false"></button>
            </div>
            <div class="modal-body text-center">
                <svg class="d-inline-block mb-3" width="50" viewBox="0 0 512 512">
                    <path fill="#37b34a"
                        d="M426.072 86.928A238.75 238.75 0 0 0 88.428 424.572A238.75 238.75 0 0 0 426.072 86.928ZM257.25 462.5c-114 0-206.75-92.748-206.75-206.75S143.248 49 257.25 49S464 141.748 464 255.75S371.252 462.5 257.25 462.5Z" />
                    <path fill="#37b34a"
                        d="m221.27 305.808l-73.413-73.412l-22.627 22.627l96.04 96.04l167.5-167.499l-22.628-22.627L221.27 305.808z" />
                </svg>
                <p>Thank you, <strong>{{fullName?.value}}</strong></p>
                <p>Your <strong>{{calcCartTotal()}}</strong> order is confirmed!</p>
                <p>You will be redirected to continue shopping within <strong>{{dur}}</strong> seconds</p>
            </div>
        </div>
    </div>
</div>