<header class="site-header">
    <a routerLink="/" class="brand-route">MyStore</a>

    <ul class="nav justify-content-center align-items-center">
        <li class="nav-item">
            <a routerLink="/products" class="nav-link" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Product List</a>
        </li>

        <li>|</li>

        <li class="nav-item">
            <a routerLink="cart" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Cart
                <svg width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
            </a>
        </li>
    </ul>
</header>