<div class="product-item text-center h-100 mb-5">
    <a [routerLink]="['/productdetails/', product.id]" class="product-img">
        <img [src]="product.url" [alt]="product.name">
    </a>
    <div class="product-info">
        <h4 class="mt-3">
            <a [routerLink]="['/productdetails/', product.id]">
                {{product.name}}
            </a>
        </h4>
        <strong class="d-block mb-2">{{product.price | currency}}</strong>
        <div class="w-50 m-auto">
            <select class="form-select" [(ngModel)]="qty">
                <option [value]="i" *ngFor="let i of qtyOptions">{{i}}</option>
            </select>
        </div>
        <button class="btn btn-primary mt-2" (click)="addToCart()">Add To Cart</button>
    </div>
</div>