/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "bootstrap";

:root {
    --brand-color: #2EACE4;
    --text-color: #121212;
    --secondary-text-color: #fff;
    --base-font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--base-font);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}